.DatePicker {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 1px solid #a4a6a8;
    box-sizing: border-box;
}

.DatePicker:focus-within {
    border: none;
}
