.modalbuttonpos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    position: sticky;
    margin-bottom: 1rem;
    z-index: 2;
}

#buttonstyle {
    border: 0;
    background-color: transparent;
}

#buttonstyle:hover {
    color: #33c824;
}

/* click to submit */
